{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <main class="cards-div">
    {% for product in products %}
      <div class="product-card">
        <img class="product-card-image" src="{{ product.image.url }}" alt="{{ product.name }}" />
        <div class="product-name-price">
          <p class="product-card-name">{{ product.name }}</p>
          <p class="product-card-price">{{ product.price }}$</p>
        </div>
        <form class="mt-1" style="width: 100%;" action="/cart/" method="post">{% csrf_token %}<button name="product-name" value="{{ product.name }}" class="product-card-buy">Buy</button></form>
      </div>
    {% endfor %}
  </main>
{% endblock %}
