{% extends 'base.html' %}

{% block title %}
  Cart
{% endblock %}

{% block content %}
  <main class="main-form-div">
    <form novalidate class="form" action="/users/login/" method="post">
        {% csrf_token %}
        <div style="display: flex;flex-direction: column; gap: 0.7em;">
          <label for="form-username">Username:</label>
        {{ form.username }}</div>
        <div style="display: flex;flex-direction: column; gap: 0.7em;">
        <label for="form-phonenumber">Phone Number:</label>
        {{ form.phone_number }}
        </div>
        <button class="submit-button">Login</button>
    </form>
  </main>
  <script>
    const form = document.querySelector("form")
    form.addEventListener("submit", e => {
      const inputs = form.getElementsByClassName("form-input-required")
      for (const input of inputs) {
        if (input.value === "") {
          e.preventDefault()
          input.style.border = "2px solid red"
          {% comment %} setTimeout(() => {input.style.border = "2px solid transparent"}, 500) {% endcomment %}
        }
      }
    })
  </script>
{% endblock %}
